.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: rgb(4, 185, 185);

}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.payment {
    display: flex;
    justify-content: space-between;
    

}
.payment .payupi{
    gap: 10px;
    flex-direction: column;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.payment .payupi .phonepay img{
    width: 25px;
    margin-bottom: 5px;
}
.payment .payupi .Googlepay img{
    width: 27px;
    margin-bottom: 5px;
    
}
.payment .payupi .phonepay,.Googlepay{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 8px;
}
.payment .payupi .phonepay .Copy {
    width: 17px;
    cursor: pointer;
    &:hover{
        transform: scale(0.93);
    }
}
.payment .payupi .Googlepay .Copy {
    width: 17px;
    cursor: pointer;
    &:hover{
        transform: scale(0.93);
    }
}
.payupi b{
    font-size: larger;
}


.payment img {
    width: 200px;
    border-radius: 5px;
    margin-top: 6px;
    animation: 1s;
}
.payment-option{
    display: flex;
    gap: 3px;
    cursor: pointer;
}
/* payment method */
.online, .COD{
    padding: 15px;
    gap: 5px;
    border: 1px solid #c5c5c5;
    margin-top: 10px;
    border-radius: 5px;
    width: 48%;
    cursor: pointer;
}

.cart-total a {
    text-align: center;
    border: none;
    color: white;
    background-color: rgb(4, 185, 185);
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: rgb(66, 197, 197);
        transform: scale(0.98);
    }
}

#confirmF{
    border: none;
    color: white;
    background-color: rgb(178, 180, 180);
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: rgb(66, 197, 197);
        transform: scale(0.98);
    }
}


@media (max-width:750px) {
    .place-order {
        flex-direction: column;
    }

    .place-order {
        margin-top: 20px;
    }

    .place-order-left .title {
        font-size: 20px;
    }

    .cart-total h2 {
        font-size: 20px;
    }

    .cart-total button {

        width: max(15vw, 150px);
        padding: 10px 0px;

    }

    .cart-total a {
        width: max(15vw, 145px);
        padding: 9px 0px;
    }    
}
@media (max-width:700px) {
    div.Toastify__toast-container{ 
        width: 70%;
        max-width: 400px;
        top: 10px;
        right:0;
        left:auto;
        bottom: auto;

    }
    
}
