.header {
    height: 34vw;
    margin: 10px auto;
    background: url('/banner.png') no-repeat;
    background-size: cover;
    position: relative;
    background-position : center;

}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s;

}

.header-contents h3 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    cursor: default;
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents span {
    font-size: larger;
    color: #0bf2fe;
}

.header-contents a {
    border: none;
    color: #585858;
    font-weight: 500;
    padding: 0.9vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 45px;
    cursor: pointer;

    &:hover {
        background-color: rgb(236, 235, 235);
        transform: scale(0.97);

    }

}

marquee {
    color: #696a6d;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 2px 0;
    font-weight: 600;
    width: 100%;

}




@media (max-width:750px) {

    marquee {
        font-size: 1em;
        height: 35px;
    }

    .header-contents {
        max-width: 55%;
        bottom: 16%;
        gap: 1.8vw;
    }

    .header-contents h3 {
        font-weight: 500;
        font-size: max(4.2vw, 18px);

    }

    /* .header-contents p{
        display: none;
    } */
    .header-contents a {
        margin-top: 1vw;
        padding: 1vw 3vw;
        font-size: max(0.7vw, 10px);
    }
}

@media (max-width:680px) {
    marquee {
        font-size: 0.9em;
        height: 30px;
    }

    .header-contents {
        max-width: 55%;
        bottom: 18%;
        gap: 2vw;
    }

    .header-contents h3 {
        font-weight: 500;
        font-size: max(4.2vw, 18px);

    }

    .header-contents p {
        display: none;
    }

    .header-contents a {
        margin-top: 1vw;
        padding: 1vw 3vw;
        font-size: max(0.7vw, 10px);
    }

    .header {
        background-size: 100% 100%;
    }

}
